* {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}

#body {
  font-family: "Asap", Helvetica, sans-serif;
  line-height: 1.6;
  background-image: url("https://images.unsplash.com/photo-1444090695923-48e08781a76a?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&s=cb58d4212ead01ed72fdffd6b78601ab");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #000;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.location {
  font-weight: 800;
  font-size: 2rem;
}

.overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
}

#toggleIcon,
#toggleIconClose {
  position: absolute;
  font-size: 2.5rem;
  cursor: pointer;
  top: 3rem;
  right: 2rem;
  color: #ddd;
  z-index: 10;
}

.fullscreen-search-overlay
  #fullscreen-search-wrapper
  #fullscreen-searchform
  input[type="submit"] {
  position: absolute;
  width: 100px;
  height: 100%;
  background-color: transparent;
  border: 0;
  right: 0;
  top: 0;
}
#fullscreen-searchform:focus {
  outline: none;
  border: none;
}

.fullscreen-search-overlay
  #fullscreen-search-wrapper
  #fullscreen-searchform
  .fullscreen-search-icon {
  font-size: 25px;
  position: absolute;
  right: 15px;
  width: 25px;
  top: 30px;
  color: rgba(255, 255, 255, 0.2);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.fullscreen-search-icon:hover,
.fullscreen-search-icon:focus {
  border: none;
  outline: none;
  color: #fff !important;
  -webkit-transition: transform ease-out 0.2s;
  -moz-transition: transform ease-out 0.2s;
  -ms-transition: transform ease-out 0.2s;
  -o-transition: transform ease-out 0.2s;
  transition: transform ease-out 0.2s;
  transform: rotate(180deg);
}

#fullscreen-searchform {
  position: relative;
  vertical-align: middle;
}

.fullscreen-search-overlay
  #fullscreen-search-wrapper
  #fullscreen-searchform
  #fullscreen-search-input {
  width: 90vw;
  max-width: 450px;
  background-color: transparent;
  -webkit-box-shadow: 0 3px 0 0 rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 0 3px 0 0 rgba(255, 255, 255, 0.1);
  box-shadow: 0 3px 0 0 rgba(255, 255, 255, 0.1);
  border: 0;
  text-align: center;
  font-size: 25px;
  padding: 20px;
  color: #fff;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.fullscreen-search-overlay
  #fullscreen-search-wrapper
  #fullscreen-searchform
  #fullscreen-search-input:focus {
  border: none;
  outline: none;
}

.fullscreen-search-overlay.fullscreen-search-overlay-show {
  visibility: visible;
  opacity: 1;
}

.fullscreen-search-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.94);
  text-align: center;
  -webkit-transition: all ease-in-out 0.25s;
  -moz-transition: all ease-in-out 0.25s;
  -ms-transition: all ease-in-out 0.25s;
  -o-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
}

.animate-element,
.effect-bg-layer,
.fullscreen-search-overlay {
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.fullscreen-search-overlay {
  z-index: 999;
}

.fullscreen-search-overlay .fullscreen-close:link,
.fullscreen-search-overlay .fullscreen-close:visited {
  color: #fff;
}

.fullscreen-search-overlay .fullscreen-close {
  position: absolute;
  right: 50px;
  top: 70px;
  font-size: 26px;
  -webkit-transition: transform ease-out 0.2s;
  -moz-transition: transform ease-out 0.2s;
  -ms-transition: transform ease-out 0.2s;
  -o-transition: transform ease-out 0.2s;
  transition: transform ease-out 0.2s;
  transform: rotate(0deg);
}

.fullscreen-search-overlay.fullscreen-search-overlay-show
  #fullscreen-search-wrapper {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -ms-transform: scale(1);
}

.fullscreen-search-overlay #fullscreen-search-wrapper {
  display: inline-block;
  max-width: 1000px;
  vertical-align: middle;
  text-align: center;
  font-size: 18px;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  -ms-transform: scale(0.9);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.search-trigger {
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  position: absolute;
  right: 30px;
  top: 30px;
}

#search-button {
  vertical-align: middle;
  height: 50px;
  width: 40px;
  border: white solid 0.7px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 1;
  padding-right: 10px;
  transition: all 400ms;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
#search-button i {
  color: white !important;
  font-size: 20px;
  position: absolute;
  left: 15px;
  top: 15px;
}

#search-button:hover,
.fullscreen-close:hover {
  opacity: 0.6;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  transition: all 400ms;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
}
#fullscreen-search-input:focus {
  box-shadow: 0px 3px 0px 0px rgba(255, 255, 255, 0.54) !important;
}

.suggestion-item {
  color: #ccc;
  font-size: 2.4rem;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

#card_front {
  transition: opacity 0.5s ease, visibility 0.5s ease;
  height: auto;
  max-height: 65%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.glass-card h2 {
  margin-top: 0;
}

.open {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  display: block;
  height: auto;
  max-height: 60%;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  z-index: 0;
  transform: scale(0.9);
}

#card_back {
  height: auto;
  max-height: 60%;
  width: 90vw;
  max-width: 90vw;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
}

#card-title-back {
  margin-bottom: 2rem;
  padding-top: 4rem;
}

.week-container {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  max-height: 30%;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.week-card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.week-card:hover,
.week-card:active {
  transform: scale(1.1);
  cursor: pointer;
}

.weather-icon-week {
  object-fit: contain;
}

#weather-icon {
  transition: transform 0.3s ease;
}

#weather-icon:hover,
#weather-icon:active {
  transform: scale(1.1);
}

hr {
  background-color: rgb(255, 255, 255, 0.1);
  border: none;
  width: 90%;
}

.footer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.social-icons {
  display: flex;
  gap: 14px;
  align-items: center;
}

.social-icon svg {
  width: 28px;
  height: 28px;
  color: #777;
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-icon svg:hover {
  color: #000;
  transform: scale(1.2);
}

/*************** Media Queries **************/

.four-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Mobile: 2 columns */
  grid-template-rows: repeat(6, auto);
  gap: 10px;
  padding: 10px;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #cccccc2a;
  border-radius: 6px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.cell-text {
  font-size: 1.1rem;
  align-content: center;
  display: inline-block;
}

.column .cell:last-child {
  border-bottom: none;
}

.table-icon {
  width: auto;
  height: 20px;
}

#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin-bottom: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#main-content.hidden {
  display: none;
}

#loading-overlay.hidden {
  opacity: 0;
  visibility: hidden;
}

/* 1. Tablet (768px and up) - Done */
@media (min-width: 768px) {
  .glass-card {
    width: 35rem;
    border-radius: 1.8rem;
    padding: 20px;
  }

  .glass-card h2 {
    font-size: 1.8rem;
    margin-top: 1.2rem;
  }

  #card_front {
    position: absolute;
    top: 20px;
    height: 27rem;
  }

  #weather-icon {
    width: 14rem;
    margin-top: 1.2rem;
    margin-bottom: 1rem;
  }

  #temperature-text,
  #date_text,
  #time-text,
  #dayShift,
  #weather_description,
  #sunrise_text,
  #sunset_text {
    font-size: 1.3rem;
    margin-top: 0.7rem;
    margin-bottom: 0;
  }

  .week-container {
    bottom: 1.5rem;
    gap: 3px;
  }

  .week-card {
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 1.5rem;
  }

  .weather-icon-week {
    width: 3.2rem;
    height: 3.2rem;
  }

  .date_text {
    font-size: 7px;
  }

  #card_back {
    width: 55rem;
    max-width: 80vw;
    position: absolute;
    top: 30px;
  }

  #card-title {
    margin-top: 0;
  }

  #card-title-back {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
  }

  .cell {
    padding: 3px;
  }

  .cell-text {
    font-size: 1rem;
  }

  .table-icon {
    height: 1rem;
    width: auto;
  }

  .fullscreen-search-overlay
    #fullscreen-search-wrapper
    #fullscreen-searchform
    #fullscreen-search-input {
    width: 300px;
    font-size: 15px;
  }

  .social-icons {
    gap: 5px;
  }

  .four-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-auto-flow: column;
    gap: 4px;
    padding: 10px;
  }

  .search-trigger {
    right: 20px;
    top: 20px;
  }

  #search-button {
    vertical-align: middle;
    height: 30px;
    width: 20px;
    padding-right: 13px;
  }
  #search-button i {
    font-size: 14px;
    left: 10px;
    top: 10px;
  }

  #toggleIcon,
  #toggleIconClose {
    font-size: 2rem;
    top: 2rem;
    right: 2rem;
  }

  .logo {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #logo-img {
    width: 5rem;
    margin-bottom: 0.5rem;
  }

  #logo-text {
    font-size: 1.2rem;
    color: #fcc000;
    text-transform: uppercase;
    font-weight: 900;
  }
}

/* 2. Small Desktop (992px and up) - Done */
@media (min-width: 992px) {
  .glass-card {
    width: 40rem;
    border-radius: 2rem;
    padding: 25px;
    position: absolute;
    top: 20px;
  }

  .glass-card h2 {
    font-size: 2rem;
    margin-top: 1.5rem;
  }

  #weather-icon {
    width: 15rem;
    margin-top: 1.5rem;
  }

  #temperature-text,
  #time-text,
  #date_text,
  #dayShift,
  #weather_description,
  #sunrise_text,
  #sunset_text {
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  .date_text {
    font-size: 1rem;
  }

  .week-container {
    bottom: 2rem;
    gap: 10px;
  }

  .week-card {
    width: 9rem;
    height: 9rem;
    border-radius: 2rem;
  }

  .weather-icon-week {
    width: 5rem;
    height: 5rem;
  }

  #card_back {
    width: 80rem;
    max-width: 73vw;
  }

  #card-title {
    margin-top: 0;
  }

  #card-title-back {
    font-size: 2.5rem;
    margin: 0;
    padding-top: 0;
  }

  .cell-text {
    font-size: 1rem;
  }

  .table-icon {
    height: auto;
    width: 1.8rem;
  }

  .fullscreen-search-overlay
    #fullscreen-search-wrapper
    #fullscreen-searchform
    #fullscreen-search-input {
    width: 800px;
    font-size: 30px;
  }

  .four-columns {
    width: 70rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 2px;
    padding: 10px;
  }

  .logo {
    top: 2rem;
    left: 2rem;
  }

  #logo-img {
    width: 7rem;
  }

  #logo-text {
    font-size: 1.5rem;
  }
}

/* 3. Standard Desktop (1200px and up) - done */
@media (min-width: 1200px) {
  .glass-card {
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    width: 40rem;
    border-radius: 2rem;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.37);
    padding: 20px;
  }

  .glass-card h2 {
    margin-top: 2rem;
    font-size: 2rem;
  }

  #card_front {
    height: 50rem;
    width: 50rem;
  }

  .week-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1rem;
    max-height: 30%;
    gap: 5px;
  }

  .week-card {
    width: 12rem;
    height: 12rem;
    border-radius: 2rem;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.37);
  }

  .weather-icon-week {
    width: 8rem;
    height: 8rem;
  }

  .cell {
    align-items: center;
    justify-content: center;
  }

  .cell-text {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .table-icon {
    width: 3rem;
    height: auto;
  }

  #card-title {
    margin-top: 0;
    font-size: 2rem;
  }

  #card-title-back {
    margin-top: 1rem;
    margin-bottom: 0;
    padding-top: 20px;
    font-size: 2.5rem;
  }

  .four-columns {
    width: 83rem;
    height: 140rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-auto-flow: column;
    gap: 10px;
    padding: 10px;
  }

  #weather-icon {
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 25rem;
  }

  #temperature-text,
  #date_text,
  #time-text,
  #dayShift,
  #weather_description,
  #sunrise_text,
  #sunset_text {
    font-size: 1.5rem;
    margin: 0;
  }

  .date_text {
    font-size: 1.1rem;
    font-weight: 700;
  }

  hr {
    height: 1px;
    margin: 5px 0;
    opacity: 50%;
  }

  #card_back {
    width: 85rem;
    max-width: 80vw;
    height: fit-content;
    max-height: 70vh;
    padding: 0;
    padding-bottom: 20px;
  }

  .search-trigger {
    right: 30px;
    top: 30px;
  }

  #search-button {
    vertical-align: middle;
    height: 50px;
    width: 36px;
    padding-right: 14.5px;
  }
  #search-button i {
    font-size: 20px;
    left: 15px;
    top: 15px;
  }

  #toggleIcon,
  #toggleIconClose {
    font-size: 3rem;
    top: 1rem;
    right: 2rem;
  }

  .fullscreen-search-overlay
    #fullscreen-search-wrapper
    #fullscreen-searchform
    #fullscreen-search-input {
    width: 800px;
    font-size: 35px;
  }

  .social-icon {
    width: 28px;
    height: 28px;
    gap: 20px;
  }

  .logo {
    position: absolute;
    top: 2rem;
    left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #logo-img {
    width: 7rem;
    margin-bottom: 0.5rem;
  }

  #logo-text {
    font-size: 1.5rem;
    color: #fcc000;
    text-transform: uppercase;
    font-weight: 900;
  }
}

/* 4. Large Desktops (1440px+) - done */
@media (min-width: 1440px) {
  .glass-card {
    width: 52rem;
    border-radius: 2.5rem;
    padding: 30px;
  }

  .glass-card h2 {
    font-size: 2.6rem;
    margin-top: 2rem;
  }

  #weather-icon {
    width: 32rem;
    margin-top: 2rem;
  }

  #temperature-text,
  #date_text,
  #time-text,
  #dayShift,
  #weather_description,
  #sunrise_text,
  #sunset_text {
    font-size: 1.9rem;
  }

  .week-container {
    bottom: 3rem;
    gap: 10px;
  }

  .week-card {
    width: 14rem;
    height: 14rem;
    border-radius: 2.5rem;
  }

  .weather-icon-week {
    width: 9rem;
    height: 9rem;
  }

  #card_back {
    width: 130rem;
    max-width: 70vw;
  }

  #card-title-back {
    font-size: 3rem;
    margin-top: 0;
    padding-top: 0;
  }

  .cell-text {
    font-size: 1.3rem;
  }

  .table-icon {
    height: 2rem;
  }

  .fullscreen-search-overlay
    #fullscreen-search-wrapper
    #fullscreen-searchform
    #fullscreen-search-input {
    width: 950px;
    font-size: 38px;
  }

  .four-columns {
    width: 100rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
    padding: 10px;
  }

  .logo {
    top: 2.5rem;
    left: 2.5rem;
  }

  #logo-img {
    width: 12rem;
  }

  #logo-text {
    font-size: 2.2rem;
  }
}

/* 5. Extra Large (1920px+) - Done */
@media (min-width: 1920px) {
  html {
    font-size: 75%;
  }

  .glass-card {
    width: 55rem;
    padding: 3rem;
    border-radius: 2.5rem;
  }

  .glass-card h2 {
    font-size: 3rem;
    margin-top: 2rem;
  }

  #weather-icon {
    width: 35rem;
    margin-top: 2rem;
  }

  #temperature-text,
  #date_text,
  #time-text,
  #dayShift,
  #weather_description,
  #sunrise_text,
  #sunset_text {
    font-size: 2rem;
  }

  #card_back {
    width: 120rem;
    max-width: 85vw;
  }

  .cell-text {
    font-size: 1.6rem;
  }

  .table-icon {
    height: 2.5rem;
  }

  .week-container {
    bottom: 3rem;
    gap: 1rem;
  }

  .week-card {
    width: 14rem;
    height: 14rem;
  }

  .weather-icon-week {
    width: 9rem;
    height: 9rem;
  }

  #card-title-back {
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 0;
  }

  .fullscreen-search-overlay
    #fullscreen-search-wrapper
    #fullscreen-searchform
    #fullscreen-search-input {
    width: 950px;
    font-size: 40px;
  }

  .four-columns {
    width: 115rem;
    height: 80rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 2px;
    padding: 5px;
  }

  .search-trigger {
    right: 30px;
    top: 30px;
  }

  #search-button {
    vertical-align: middle;
    height: 75px;
    width: 60px;
    padding-right: 20px;
  }
  #search-button i {
    font-size: 30px;
    left: 22.5px;
    top: 22.5px;
  }

  #toggleIcon,
  #toggleIconClose {
    font-size: 3rem;
    top: 3rem;
    right: 3rem;
  }

  .logo {
    top: 3rem;
    left: 3rem;
  }

  #logo-img {
    width: 12rem;
  }

  #logo-text {
    font-size: 2.2rem;
  }
}

/* 6. Ultra-Wide Screens (2560px+) - Done */
@media (min-width: 2560px) {
  .glass-card {
    width: 65rem;
    border-radius: 3rem;
    padding: 40px;
  }

  .glass-card h2 {
    font-size: 3rem;
    margin-top: 0;
    font-size: 5rem;
  }

  #weather-icon {
    width: 60rem;
    margin-top: 1rem;
  }

  #temperature-text,
  #time-text,
  #date_text,
  #dayShift,
  #weather_description,
  #sunrise_text,
  #sunset_text {
    font-size: 4rem;
  }

  .week-card p {
    font-size: 2rem;
  }

  .week-container {
    bottom: 4rem;
    gap: 14px;
  }

  .week-card {
    width: 20rem;
    height: 20rem;
    border-radius: 3rem;
  }

  .weather-icon-week {
    width: 12rem;
    height: 12rem;
  }

  #card_front {
    height: 70vh;
    width: 100rem;
  }

  #card_back {
    width: 160rem;
    max-width: 75vw;
  }

  #card-title-back {
    font-size: 4rem;
    margin-top: 2rem;
  }

  .cell-text {
    font-size: 2rem;
  }

  .table-icon {
    width: 8rem;
    height: auto;
  }

  .fullscreen-search-overlay
    #fullscreen-search-wrapper
    #fullscreen-searchform
    #fullscreen-search-input {
    width: 1100px;
    font-size: 45px;
  }

  .four-columns {
    width: 140rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 1rem;
    padding: 10px;
    justify-content: center;
    align-items: center;
  }

  .search-trigger {
    right: 30px;
    top: 30px;
  }

  #search-button {
    vertical-align: middle;
    height: 100px;
    width: 80px;
    padding-right: 20px;
  }
  #search-button i {
    font-size: 40px;
    left: 30px;
    top: 30px;
  }

  #toggleIcon,
  #toggleIconClose {
    font-size: 5rem;
    top: 6rem;
    right: 4rem;
  }

  .logo {
    top: 3rem;
    left: 3rem;
  }

  #logo-img {
    width: 17rem;
  }

  #logo-text {
    font-size: 3rem;
  }
}
